.info{
    padding: 105px 0 125px;
}
.info__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.info__inner>div{
    width: 49%;
}
.info__col{
    display: flex;
}
.info__col>i{
    margin-right: 25px;
    font-size: 60px;
    line-height: 1;
    color: #f9356e;
}
.info__col-info>h3{
    font-size: 48px;
    line-height: 1;
    font-weight: 500;
    font-family: var(--JSM), Sans-serif;
    color: #1d165c;
    margin-bottom: 10px;
}
.info__col-info>h6{
    color: #1d165c;
    font-family: var(--JSB), sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    margin-bottom: 12px;
}
.info__col-info>p{
    font-size: 16px;
    line-height: 1.6em;
    font-weight: 500;
    font-family: var(--MSB), sans-serif;
    color: #666666;
}
/* /////////////////////////// */
@media(max-width: 768px){
    .info {
        padding: 80px 0;
    }
    .info__col-info>h3{
        font-size: 42px;
    }
}
@media(max-width: 425px){
    .info {
        padding: 60px 0 50px;
    }
    .info__inner>div{
        width: 100%;
        margin-bottom: 35px;
    }
    .info__col-info>h3 {
        font-size: 36px;
    }
}
@media(max-width: 375px){
    .info__col-info>h3{
        font-size: 34px;
    }
}